Source: ninfod
Section: net
Priority: extra
Maintainer: YAEGASHI Takeshi <yaegashi@debian.org>
Build-Depends: debhelper (>= 5), autotools-dev, libssl-dev
Standards-Version: 3.7.2

Package: ninfod
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Daemon for IPv6 Node Information Queries (RFC4620)
 The ninfod daemon allows network nodes to discover information about
 names and address of your node via ICMPv6 as described in RFC4620.
